
@import '../../assets/sass/mixins';
@import '../../assets/sass/variables';

.home{
    .form{
        @include flexbox();
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        @media (min-width: $screen-xs-max) {
            @include justify-content(right);
            .icon{
                margin-right: 25px;
            }
        }
    }
    .icon {
        margin-left: 5px;
        @include icon-dark;
        @include align-self(center);
        z-index: 10;
    }

    .alerta{
        @include alerta();
    }
}